fieldset {
	border-radius: 10px;
}

fieldset legend {
	font-weight: bold;
}

form > fieldset > legend {
	font-size: 120%;
}

fieldset:not(:last-child) {
	margin-bottom: 20px;
}

form label {
	user-select: none;
}

form * {
	font-size: 20px;
}

input[type="text"] {
	outline: none;
	border: none;
	border-bottom: solid black 3px;
}

input[type="text"]:focus, input[type="text"]:hover {
	border-bottom: solid #0073e6 3px;
}

.apply-fancy-button {
	background-color: #0073e6;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

.apply-fancy-button:not(:last-child) {
	margin-right: 15px;
}

.apply-fancy-button:hover {
	background-color: #003B73;
}

.apply-fancy-button-bad {
	background-color: #FF0019;
}

.apply-fancy-button-bad:hover {
	background-color: #88000C;
}

@media only screen and (max-width: 600px) {
	input[type="text"] {
		padding-top: 10px;
		width: 98%;
		margin-left: 2%;
	}
}
