/*figure {
    text-align: right;
    margin: 20px 0;
}*/

figure img {
    max-width: 350px;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
    color: #555;
}

#logo {
    float: right;
    clear: right;
}

#index-benefits {
    border-radius: 15px;
    width: 100%;
    background-color: #747474;
    display: flex;
    justify-content: space-around;
}

#index-benefits figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-benefits figure img {
    max-width: 100px;
    border-radius: 25px;
}

#index-benefits figure figcaption {
    color: white;
}

#index-benefits input {
    position: absolute;
    right: 100%;
  }
  
#index-benefits input:checked+div {
    display: block;
  }
  
#index-benefits div {
    display: none;
  }

#index-pricing {
    max-width: 45%;
    float: left;
    padding-right: 100px;
    width: 100%;
    flex: 1;
}
#index-pricing table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
#index-pricing th, #index-pricing td {
    padding: 10px;
    text-align: left;
}
#index-pricing th {
    background: #747474;
    color: white;
    text-align: center;
}
#index-pricing td {
    background-color: #efefef;
}
#index-pricing td:hover {
    background-image: linear-gradient(to bottom right, #efefef, #cfe9f0);
}

#index-vision {
    float: right;
    max-width: 45%;
}