/* Jobs CSS - Max */

/* Job ID - sets it to the right of the screen, with a width of 25% of that job's container size */
aside {
    text-align: right;
    padding: 3%;
    width: 25%;
    float: right;
}

section {
    margin-left: 2%;
}

.jobs-dropdown {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #edeef3;
    margin: 20px 0px;
}

.jobs-dropdown input:checked ~ .jobs-dropdown-content{
    max-height: 1000px;
    padding-left: 10px;
}

.jobs-dropdown input {
    display: none;
}

.jobs-dropdown-title{
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 15px;
    display: block;
    cursor: pointer;
    color: rgb(9, 121, 159);
}

.jobs-dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 10px;
}

.jobs-prereqs-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.jobs-description{
    width: 70%;
}

.jobs-prerequisites {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 0px;
    margin-top: 0px;
}

.jobs-prerequisites div {
    width: 60%;
}