/* Jobs CSS - Max */

#jobs-title {
    color: rgb(9, 121, 159);
}

/* Job ID - sets it to the right of the screen, with a width of 25% of that job's container size */
.jobs-aside {
    text-align: right;
    padding: 3%;
    width: 25%;
    float: right;
}

/* Puts a border around the bottom-right corner what would otherwise be empty space and rotates it 45 deg to create an arrow */
.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 0.25em;
    margin: 0 10px;
    /* Two transforms are used to help with browser compatability */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }

.jobs-dropdown {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #edeef3;
    margin: 20px 0px;
}


/* When the input (the job title) is clicked on, max height is set to an arbitrarily high value to fit all the text */
.jobs-dropdown input:checked ~ .jobs-dropdown-content {
    max-height: 1000px;
}

.jobs-dropdown input:checked ~ .jobs-dropdown-title .arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.jobs-dropdown-title:hover {
    color: rgb(51, 160, 255);
    font-size: 1.6em;
}

.jobs-dropdown input {
    display: none;
}

.jobs-dropdown-title{
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 15px;
    display: block;
    cursor: pointer;
    color: rgb(9, 121, 159);
    transition: color 0.2s ease, font-size 0.2s ease;
}

.jobs-dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0px 20px;
    margin-left: 2%;
}

.jobs-prereqs-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.jobs-description{
    width: 70%;
}

.jobs-prerequisites {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 0px;
    margin-top: 0px;
}

.jobs-prerequisites div {
    width: 60%;
}

.jobs-dropdown-content h3, .jobs-dropdown-content h4, .jobs-dropdown-content strong {
    color: rgb(9, 121, 159)
}

/* Thanks to W3Schools (link: https://www.w3schools.com/howto/howto_css_arrows.asp) for teaching extra CSS, including how to make arrows */